@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background-color: black;
  color: white;
  overflow: hidden;
  background-image: url('/Stars2.jpg');
  background-size: cover;
  background-position: center;
}
